## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

for i in range(len(assuntos)):
    nova_linha = pd.Series({assuntos[i]: assuntos[i]/n_questoes[i]*100})
    resultado.append(nova_linha)
nova_linha

In [2]:
nomes_assuntos = 'df_mat,df_por,df_geo,df_ing,df_his,df_fis,df_qui'
n_questoes = [24, 18, 8, 8, 8, 12, 12]

resultados = pd.DataFrame()
percentual_acertos = pd.DataFrame()
assuntos_separados = nomes_assuntos.split(sep=',')

for assunto in assuntos_separados:
        resultados["Qt_acertos_"+ assunto] = globals()[assunto.strip()]
resultadoNovo = resultados.drop_duplicates()

for assunto,questao in zip(assuntos_separados,n_questoes):
        percentual_acertos["Qt_acertos_"+ assunto] = globals()[assunto.strip()]/questao*100 
percentual_acertos

,Qt_acertos_df_mat,Qt_acertos_df_por,Qt_acertos_df_geo,Qt_acertos_df_ing,Qt_acertos_df_his,Qt_acertos_df_fis,Qt_acertos_df_qui
0,25.000000,38.888889,87.5,37.5,12.5,66.666667,25.000000
1,79.166667,55.555556,0.0,0.0,0.0,91.666667,66.666667
2,58.333333,88.888889,0.0,62.5,87.5,33.333333,33.333333
3,41.666667,38.888889,37.5,50.0,0.0,0.000000,66.666667
4,29.166667,11.111111,25.0,87.5,0.0,75.000000,25.000000
...,...,...,...,...,...,...,...
95,25.000000,22.222222,87.5,12.5,50.0,75.000000,25.000000
96,33.333333,5.555556,50.0,75.0,12.5,33.333333,25.000000
97,95.833333,27.777778,0.0,25.0,50.0,8.333333,41.666667
98,0.000000,55.555556,37.5,12.5,62.5,83.333333,91.666667
99,45.833333,83.333333,0.0,12.5,75.0,58.333333,16.666667

In [3]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
resultados['total'] = total

In [4]:
# 3) Seu código aqui
percentual = (total/90)*100
resultados['percentual_total'] = percentual
resultados

,Qt_acertos_df_mat,Qt_acertos_df_por,Qt_acertos_df_geo,Qt_acertos_df_ing,Qt_acertos_df_his,Qt_acertos_df_fis,Qt_acertos_df_qui,total,percentual_total
0,6,7,7,3,1,8,3,35,38.888889
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
3,10,7,3,4,0,0,8,32,35.555556
4,7,2,2,7,0,9,3,30,33.333333
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.777778
96,8,1,4,6,1,4,3,27,30.000000
97,23,5,0,2,4,1,5,40,44.444444
98,0,10,3,1,5,10,11,40,44.444444
99,11,15,0,1,6,7,2,42,46.666667

In [5]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
reprovados = pd.DataFrame()

materias_separadas = "df_mat,df_fis,df_qui".strip().split(sep=',')
for materia in materias_separadas:
    reprovados_materia = resultados.loc[resultados["Qt_acertos_" + materia] == 0]
    reprovados = pd.concat([reprovados, reprovados_materia])
reprovados_sem_duplicatas = reprovados.drop_duplicates()    
reprovados_sem_duplicatas.loc[:, ['Qt_acertos_df_mat', 'Qt_acertos_df_fis','Qt_acertos_df_qui']]

    Qt_acertos_df_mat  Qt_acertos_df_fis  Qt_acertos_df_qui
25                  0                  4                  8
94                  0                  3                  8
98                  0                 10                 11
3                  10                  0                  8
6                   6                  0                  4
12                 20                  0                  3
26                 11                  0                  0
35                 11                  0                 11
49                  8                  0                  8
56                  7                  0                  8
65                  1                  0                  6
66                  5                  0                 10
72                 11                  0                  9
73                  1                  0                 11
84                 15                  0                  4
10                 10                  7                  0
14                  7                  4                  0
20                 23                  2                  0
27                 21                  3                  0
33                 14                  6                  0
74                  9                  7                  0
89                 23                  9                  0
92                 14                  8                  0

In [7]:
reprovados_sem_duplicatas.count()

Qt_acertos_df_mat    23
Qt_acertos_df_por    23
Qt_acertos_df_geo    23
Qt_acertos_df_ing    23
Qt_acertos_df_his    23
Qt_acertos_df_fis    23
Qt_acertos_df_qui    23
total                23
percentual_total     23
dtype: int64

In [8]:
media = pd.DataFrame()
materias_separadas_media = "df_his,df_geo".strip().split(sep=',')
for materia in materias_separadas_media: 
    media['media_'+ materia] = [reprovados_sem_duplicatas.loc[:,"Qt_acertos_" + materia].mean()]
media

   media_df_his  media_df_geo
0      3.434783      3.217391

In [9]:
aprovados = pd.DataFrame()
aprovados = resultados[~resultados.isin(reprovados_sem_duplicatas)]
aprovados.value_counts().sum()

77

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [10]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [21]:
# 1) Sua solução aqui
df = pd.read_csv('reg_vac_ACRE.csv', sep=';')
df['vacina_nome'].nunique()

5

169071

In [17]:
# 2)
df['paciente_id'].nunique()

120517

In [42]:
# 3)
df.head()
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

119713

In [43]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

119713

In [44]:
# 4)
df_menor = df[df['paciente_idade']<18]
df_menor['paciente_id'].nunique()

47

In [45]:
# 5 
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [46]:
# 1)
df_menor = df[df["paciente_idade"]<18].copy()

In [47]:
# 2)
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [48]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: count, dtype: int64

In [49]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [50]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(18, 6)